header{
    background: #2b2727;
    padding: 20px;

}

#logo{
    border-radius: 20px;

}

#logo1{
    width: 200px;
    height: 95px;
    text-align: center;
   
}

@font-face {
    font-family: 'lastica';
    src: url('Lastica.ttf')  format('opentype');
}

.titulo-principal{
    position: absolute;
    top: 13%;
    left: 30%;
    transform: translate(10%, 50%);
    font-size: 35px;
    font-family: lastica;
    color: red;
    text-align: center;
    
}

main{
    width: 940px;
    margin: auto;
}

form{
    margin: 40px 0; /*margem superior e inferior de 40px, para os lados "zero"*/
}